.cart-container {
  padding: 20px 14px;
}

.header-title {
  color: #6c757d;
  text-align: left;
  font-weight: bold;
}

.cart-image-top {
  width: 100px !important;
  height: 100px !important;;
}
.empty-message{
  margin-top: 30px;
}

.table-item{
  padding-top: 35px !important;
}

.table-item1{
  padding-bottom: 35px !important;
}
